<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--程序绑定url地址，多个;分隔  http://*:5001;http://*:5002-->
  <server.urls>http://*:5678</server.urls>
  <!--自定义本地化业务参数配置 如需生效请将改配置信息拷贝到config_local.config文件中-->
  <!--<CustomLocalParams>
    <BusinessParams key="ImageZipConfig" desc="图片处理配置">
      <param key="ImageHandleApi" desc="接口地址">http://192.168.0.245:8847//ThumImage?src=</param>
    </BusinessParams>

    <BusinessParams key="VideoQueryConfig" desc="视频服务配置">
      <param key="VideoTransitAPI">http://192.168.0.245:8089</param>
    </BusinessParams>

    <BusinessParams key="MapConfig" desc="Gis地图服务配置">
      <param key="tas">http://192.168.0.104:8083/tasxy/showAnalysis/realtime</param>
      <param key="mapConfig">http://192.168.0.207/map/xiangyang/MapConfig.xml</param>
    </BusinessParams>
  </CustomLocalParams>-->
</configuration>