<?xml version="1.0" encoding="utf-8"?>
<ArrayOfXmlCommand>
  <!--查询-->
  <XmlCommand Name="PoliceRecord:GetLastTimeRecord">    
    <CommandText>
      <![CDATA[
          select * from DUTY_POLICERECORD a,(
          select DEPARTMENTID,Max(CREATEDTIME) as MAXTIME from DUTY_POLICERECORD group by DEPARTMENTID) b
          where a.DEPARTMENTID=b.DEPARTMENTID and a.CREATEDTIME=b.MAXTIME
        ]]>
    </CommandText>
  </XmlCommand>
  <XmlCommand Name="PoliceRecord:GetPoliceOnDuty">   
    <CommandText>
      <![CDATA[
          select * from DUTY_POSTPOLICEONDUTY where PostId in ($PostIds)
        ]]>
    </CommandText>
  </XmlCommand>
  <XmlCommand Name="PoliceOnDuty:GetPoliceMan">
    <CommandText>
      <![CDATA[
          select * from POLICE_POLICEMAN
        ]]>
    </CommandText>
  </XmlCommand>
  <XmlCommand Name="PoliceOnDuty:GetPoliceOnDuty">
    <CommandText>
      <![CDATA[
          select * from DUTY_POSTPOLICEONDUTY $Where
        ]]>
    </CommandText>
  </XmlCommand>
</ArrayOfXmlCommand>